* {
  box-sizing: border-box;
}
.nav{
  background-color: green;
  height: 55px;
}
.welcome{
  border: 1px solid black;
  width: 100%;
  background-color:
}
.mid{
  border: 1px solid black;
  width: 100%;
  background-color: white;
}
.midTrip{
  border: 1px solid black;
  width: 33.3333%;
  float: left;
  background-color: white;
}
.bottom{
  border: 1px solid black;
  width: 100%;
  background-color: cadetblue;
}
